@import '../../mixins';

.jth-portfolio {
  margin-bottom: 5rem;
  .jth-portfolio-title {
    margin-top: 5rem;
    margin-bottom: 5rem;
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.375rem;
      font-weight: bold;
    }
  }

  .jth-portfolio-logo {
    max-width: rem(250px);
  }

  ul {
    padding-left: rem(30px);
    list-style: none;

    li {
      position: relative;
      &:before {
        background-color: $secondaryBrandColor;
        border-radius: 50%;
        content: '';
        height: 0.5rem;
        left: rem(-24px);
        position: absolute;
        display: inline;
        top: 0.625rem;
        width: 0.5rem;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      border-bottom: none;

      svg {
        fill: $secondaryBrandColor;
        vertical-align: middle;
        margin-left: rem(5px);
        visibility: hidden;
      }
    }

    &:hover {
      a {
        svg {
          visibility: visible;
        }
      }
    }
  }

  .jth-portfolio-content {
    align-items: flex-start;
  }
}

.jth-portfolio-links {
  .jth-portfolio-relatedPosts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    list-style-type: none;
    counter-reset: counter;

    li {
      counter-increment: counter;
      position: relative;

      button {
        line-height: 200%;
        text-align: left;
      }

      &:before {
        content: counter(counter) '. ';
        color: $primaryBrandColor;
        position: absolute;
        right: 100%;
        padding: 0 0.625rem 0 0;
      }

      a {
        border-bottom: none;
      }
    }
  }
}

@include tablet {
  .jth-portfolio {
    margin-bottom: 3rem;
    .jth-portfolio-title {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .jth-portfolio-content {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}

@include mobile {
  .jth-portfolio {
    margin-bottom: 3rem;
    .jth-portfolio-title {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .jth-portfolio-content {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}
