@import "../../../mixins";

.jth-accordion-container {
  display: grid;
  grid-template-columns: 1fr 2rem;
  justify-items: center;
  align-items: baseline;

  .jth-accordion-icon {
    font-size: 1rem;
    transition: 0.2s linear;
  }
}

.jth-accordion-title {
  font-size: 1.25rem;
  width: 100%;

  span {
    display: flex;
    align-items: center;
  }
}

.jth-accordion-contents {
  transition: 0.2s ease-in-out;
  overflow: hidden;

  p {
    font-size: 0.9rem;
    padding: 0.5rem 0;
  }
}

.jth-accordion-icon-reverse {
  transform: rotate(-180deg);
}
