@import "../../../mixins";

pre{
  border-radius: 1rem;
}

code[class*="language-"], pre[class*="language-"] {
  font-family: 'Source Code Pro', monospace;

  span{
    font-family: 'Source Code Pro', monospace;
  }
}